@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

:root {
  --pastel-blue: #bfecff;
  --pastel-purple: #cdc1ff;
  --pastel-cream: #fff6e3;
  --pastel-pink: #ffccea;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  align-items: center;
  height: 100vh;
  background-color: var(--pastel-cream);
  margin: 0;
}

/* nav bar CSS */

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--pastel-blue);
  padding: 15px;
  box-shadow: 0px 15px 10px -15px #111;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-menu a {
  text-decoration: none;
  margin: 0px 10px;
  font-weight: bold;
}

/* pagination bar */

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 26px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

footer {
  background-color: var(--pastel-blue);
}
