.article-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.article-item h2 {
  margin: 0;
  font-size: 15pt;
}

.article-item {
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 15px;
  border-style: none none none solid;
  border-left-color: var(--pastel-purple);
}

.article-item:hover {
  border-left-color: var(--pastel-pink);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
